{% if is_granted('ROLE_ADMIN') %}
    <div class="canvas gray-light">
        <div class="page-controls">
            <div class="stats">
                <div class="stat">
                    Gallery views<br />
                    <strong>{{ model.views|number_format }}</strong>
                </div>
                <div class="stat">
                    Status<br />
                    {% if model.isActive %}
                        <strong>Published</strong>
                    {% else %}
                        <strong>Unpublished</strong>
                    {% endif %}
                </div>
            </div>
            <div class="actions">
                <div class="pull-right">
                    {% if model.isActive %}
                        <a href="{{ url('dwi_portfolio_publish_gallery', { id: model.galleryId }) }}" class="btn btn-danger">Unpublish</a>
                    {% else %}
                        <a href="{{ url('dwi_portfolio_publish_gallery', { id: model.galleryId }) }}" class="btn btn-success">Publish</a>
                    {% endif %}

                    <a href="{{ url('dwi_portfolio_edit_gallery', { id: model.galleryId }) }}" class="btn btn-warning">Edit</a>
                    <a href="{{ url('dwi_portfolio_remove_gallery', { id: model.galleryId }) }}" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
{% endif %}
