<script id="template-base" type="text/x-handlebars-template">
    {% verbatim %}
        <div class="canvas canvas-padded gray-lighter">
            <div class="form-compact step1">
                <div class="form-row">
                    <div class="btn-table">
                        <div class="btn-row">
                            <div class="btn-cell file-multiple">
                                <input class="inputFiles" type="file" name="test" accept="image/jpeg" multiple="multiple" />
                                <button class="btn btn-block btn-success">Add Files</button>
                            </div>
                            <div class="btn-cell">
                                <button class="btn btn-block btn-success inputUpload">Upload</button>
                            </div>
                            <div class="btn-cell">
                                <a class="btn btn-block btn-white" href="{{cancelUrl}}">Done</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="canvas canvas-padded">
            <ul class="previewList"></ul>
        </div>
    {% endverbatim %}
</script>

<script id="template-image" type="text/x-handlebars-template">
    {% verbatim %}
        <li data-item="{{item}}">
            <div class="preview" style="background-image: url({{image}}); background-position: 50%; background-size: cover;"></div>
            <button type="button" class="btn btn-block btn-danger remove-image status">Remove</button>
        </li>
    {% endverbatim %}
</script>

<script type="text/javascript">

    $(document).ready(function() {
        var el = $('#image-uploader');
        var am = new AjaxManager();
        var iu = new ImageUploader(am);

        iu.init(el, {
            CSRFToken: {
                name: "{{ form.fields._token.name }}",
                value: "{{ form.fields._token.value }}",
            },
            fileField: "{{ form.fields.file.name }}",
            cancelUrl: "{{ url('dwi_portfolio_gallery', {id: gallery.id}) }}",
            uploadUrl: "{{ url('dwi_portfolio_upload_image', {id: gallery.id}) }}",
        });

        window.iu = iu;
    });

</script>
