{% extends '::base-admin.html.twig' %}

{% if gallery.isActive %}
    {% set verb = "unpublish" %}
    {% set action = "doUnpublish" %}
    {% set class = "btn-danger" %}
{% else %}
    {% set verb = "publish" %}
    {% set action = "doPublish" %}
    {% set class = "btn-success" %}
{% endif %}

{% block title %}{{ verb|capitalize }} Gallery{% endblock %}

{% block body %}
    <div class="canvas">
        <div class="jumbotron">
            {{ verb|capitalize }} Gallery<br />
            <small>(You can reverse this change later)</small>
        </div>
    </div>

    <div class="canvas canvas-padded slate">
        <div class="form-compact">
            <div class="form-row text-center">
                Are you sure you want to {{ verb }} gallery<br /><strong>"{{ gallery.title }}"</strong>?
            </div>
        </div>

        <form method="POST" class="form-compact">
            <input type="hidden" name="{{ action }}" value="1">

            <div class="form-row">
                <input type="submit" name="submit" value="{{ verb|capitalize }}" class="btn btn-block {{ class }}" />
            </div>
        </form>

        <form method="POST" class="form-compact">
            <input type="hidden" name="{{ action }}" value="0">

            <div class="form-row">
                <input type="submit" name="submit" value="Cancel" class="btn btn-block btn-slate" />
            </div>
        </form>
    </div>
{% endblock %}
