{% extends ':Admin:base-admin.html.twig' %}

{% form_theme form 'DWICoreBundle:Form:fields.html.twig' %}

{% block title %}Edit Gallery{% endblock %}

{% block body %}
    <div class="canvas">
        <div class="jumbotron">
            Edit Gallery<br />
            <small>{{ gallery.title }}</small>
        </div>
    </div>

    <div class="canvas canvas-padded gray-lighter clearfix">
        {{ form_start(form, { 'attr': { 'class': 'form-editor' } }) }}
            {{ form_widget(form._token) }}
            {{ form_errors(form) }}

            {{ form_widget(form.title) }}
            {{ form_widget(form.subtitle) }}

            <div class="form-row">
                {{ form_widget(form.description, { 'attr':
                    { 'class': 'txt-medium-editable gallery-type' }
                }) }}
            </div>

            {{ form_widget(form.date) }}

            <br />

            <div class="form-row">
                <div class="pull-right">
                    {{ form_widget(form.submit) }}
                    <a class="btn btn-white" href="{{ url('dwi_portfolio_manage_gallery', {id: gallery.id}) }}">Cancel</a>
                </div>
            </div><br />

        {{ form_end(form, { 'render_rest': false }) }}
    </div>
{% endblock %}
