{% extends ':Admin:base-admin.html.twig' %}

{% block title %}Manage Galleries{% endblock %}

{% block body %}
    <div class="canvas canvas-padded-l">
        <div class="pull-left">
            <h1>Managing <span class="text-light">Galleries</span></h1><br />
        </div>
        <div class="pull-right">
            <a href="{{ url('dwi_portfolio_create_gallery') }}" class="btn">Create Gallery</a>
        </div>
    </div>

    <div class="canvas canvas-padded-l">
        <table class="table">
            <tr>
                <td style="width: 75%;">
                    <div id="chart" style="height: 120px; margin: 0 auto; padding: 30px 0;"></div>
                    <div class="text-right"><h4 class="text-turquoise">Last 30 Days</h4></div>
                </td>
                <td class="text-center views">
                    <span class="count text-muted">{{ model.views.total|number_format }}</span><br />
                    <span class="label text-turquoise text-faded text-uppercase text-thin"><b>Total</b> Views</span>
                </td>
            </tr>
        </table>
    </div>

    <div class="canvas canvas-padded-l gray-lighter">
        <ul class="gallery-list clearfix">
            {% if model.portfolio is not empty %}
                {% for key, gallery in model.portfolio.galleries %}
                    <li data-gallery="{{ gallery.id }}">
                        <a href="{{ url('dwi_portfolio_manage_gallery', { id: gallery.id }) }}">
                            {% if gallery.coverImagePath %}
                                <img class="preview" src="{{ asset(gallery.coverImagePath)|imagine_filter('admin_gallery_thumb') }}" />
                            {% else %}
                                <img class="preview" src="http://placehold.it/275x200" />
                            {% endif %}
                        </a>
                        <div class="status">
                            <i class="flaticon stroke grid-2 text-muted {{ gallery.images|length > 0 ?: 'text-danger' }}" title="Gallery has images?"></i> {# Gallery has Images #}
                            <i class="flaticon stroke photo-1 text-muted {{ gallery.coverImagePath ?: 'text-danger' }}" title="Thumbnail image set?"></i> {# Thumbnail Image Set #}
                            <i class="flaticon stroke eye-1 text-muted text-muted {{ gallery.isActive ?: 'text-danger' }}" title="Gallery is published?"></i> {# Gallery is published #}
                        </div>
                        <div class="desc">
                            <span title="{{ gallery.title }}">{{ gallery.title }}</span><br />
                            <small class="text-muted">{{ gallery.subtitle }}</small>
                        </div>
                        <div class="controls">
                            <button class="btn btn-white" data-dropdown="#gi-dropdown-{{ key }}"><i class="flaticon stroke settings-1"></i></button>
                            <div id="gi-dropdown-{{ key }}" class="dropdown dropdown-anchor-right dropdown-tip dropdown-relative" style="display: none;">
                                <ul class="dropdown-menu">
                                    <li><a href="{{ url('dwi_portfolio_gallery', { id: gallery.id }) }}" target="_blank">View Gallery</a></li>
                                    <li><a href="{{ url('dwi_portfolio_remove_gallery', { id: gallery.id }) }}"><span class="text-danger">Delete</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
        {% if model.pagination.pages > 1 %}
            <ul class="pagination">
                {% if model.pagination.page != 1 %}
                    <li>
                        <a class="btn btn-white" href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({ page: 1 })) }}">First</a>
                    </li>
                    <li>
                        <a class="btn btn-white" href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({ page: model.pagination.page - 1 })) }}">Prev</a>
                    </li>
                {% endif %}

                {% for i in model.pagination.start..model.pagination.end %}
                    <li><a class="btn {{ i == model.pagination.page ? 'btn-danger' : 'btn-white' }}" href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({ page: i })) }}">{{ i }}</a></li>
                {% endfor %}

                {% if model.pagination.page != model.pagination.pages %}
                    <li><a class="btn btn-white" href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({ page: model.pagination.page + 1 })) }}">Next</a></li>
                    <li><a class="btn btn-white" href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({ page: model.pagination.pages })) }}">Last</a></li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
{% endblock %}

{% block javascript %}

    <script type="text/javascript">

        $(function () {
            $('#chart').highcharts({
                chart: {
                    type: 'area',
                    backgroundColor: '#ffffff'
                },
                title: {
                    text: null
                },
                subtitle: {
                    text: null
                },
                colors: [
                    '#1abc9c'
                ],
                credits: {
                    enabled: false
                },
                xAxis: {
                    type: 'datetime',
                    labels: {
                        enabled: false
                    }
                },
                yAxis: {
                    title: {
                        text: null
                    },
                    min: 0,
                    gridLineColor: '#ecf0f1',
                    gridLineWidth: 2,
                    labels: {
                        enabled: false
                    }
                },
                legend: {
                    enabled: false
                },
                tooltip: {
                    formatter: function() {
                        return '<b>' + Highcharts.dateFormat('%e %b', this.x) +'</b><br />'+ this.y +' views';
                    }
                },

                series: [{
                    data: {{ model.views.chartViews|json_encode() }}
                }]
            });
        });

    </script>

{% endblock %}
