{% set form = model.form %}
{% set gallery = model.getChild('gallery') %}

{% extends '::base.html.twig' %}

{% form_theme form 'DWICoreBundle:Form:fields.html.twig' %}

{% block title %}Upload Images{% endblock %}

{% block body %}
    <div class="canvas">
        <div class="jumbotron">
            Upload Images<br />
            <small>Into gallery "{{ gallery.title }}"</small>
        </div>
    </div>

    <div class="canvas gray-lighter">
        {{ form_start(form, { 'attr': { 'class': 'form' } }) }}
            {{ form_row (form._token) }}
            {{ form_errors(form) }}

            {{ form_widget(form.file) }}

            <div class="form-row">
                <div class="pull-right">
                    {{ form_widget(form.submit) }}
                    <a href="{{ url('dwi_portfolio_gallery', { id: gallery.id }) }}" class="btn btn-white">Cancel</a>
                </div>
            </div>
        {{ form_end(form, { 'render_rest': false }) }}
    </div>
{% endblock %}
