{% extends ':Admin:base-admin.html.twig' %}

{% form_theme form 'DWICoreBundle:Form:fields.html.twig' %}

{% block title %}Edit Tag{% endblock %}

{% block body %}
    <div class="canvas">
        <div class="jumbotron">
            Edit Tag<br />
            <small>{{ tag.name }}</small>
        </div>
    </div>

    <div class="canvas canvas-padded gray-lighter">
        {{ form_start(form, { 'attr': { 'class': 'form-editor' } }) }}
            {{ form_row (form._token) }}
            {{ form_errors(form) }}

            {{ form_widget(form.name) }}
            {{ form_widget(form.description) }}

            <br />

            <div class="form-row">
                <div class="pull-right">
                    {{ form_label(form.isPrimary) }}
                    {{ form_widget(form.isPrimary) }}
                    {{ form_widget(form.submit) }}
                    <a href="{{ url('dwi_portfolio_manage_tags') }}" class="btn btn-white">Cancel</a>
                </div>
            </div><br />

        {{ form_end(form, { 'render_rest': false }) }}
    </div>
{% endblock %}
