{% extends ':Admin:base-admin.html.twig' %}

{% block title %}Manage Tags{% endblock %}

{% block body %}
    <div class="canvas canvas-padded-l clearfix">
        <div class="pull-left">
            <h1 style="display: inline-block;">Managing <span class="text-light">Tags</span></h1><br />
        </div>
        <div class="pull-right">
            <a href="{{ url('dwi_portfolio_create_tag') }}" class="btn">Create Tag</a>
        </div>
    </div>

    <div class="canvas canvas-padded-l gray-lighter">
        <ul class="tags-list">
            {% if model.tags is not empty %}
                <li class="clearfix">
                    <div class="name"><span class="text-muted">Name</span></div>
                    <div class="description"><span class="text-muted">Description</span></div>
                    <div class="status text-right"><span class="text-muted">Is Primary?</span></div>
                    <div class="controls text-right"><span class="text-muted">Controls</span></div>
                </li>
                {% for key, tag in model.tags %}
                    <li class="clearfix" data-tag="{{ tag.id }}">
                        <div class="name"><h4>{{ tag.name }}</h4></div>
                        <div class="description">{{ tag.description }}</div>
                        <div class="status text-right">
                            {% if tag.isPrimary %}
                                <i class="flaticon stroke star-2"></i>
                            {% endif %}
                        </div>
                        <div class="controls text-right">
                            <button class="btn btn-white" data-dropdown="#tag-dropdown-{{ key }}">Options &#x25BC;</button>
                            <div id="tag-dropdown-{{ key }}" class="dropdown dropdown-anchor-right dropdown-tip dropdown-relative" style="display: none;">
                                <ul class="dropdown-menu">
                                    <li><a href="{{ url('dwi_portfolio_edit_tag', { 'id': tag.id }) }}">Edit</a></li>
                                    <li><a href="{{ url('dwi_portfolio_remove_tag', { 'id': tag.id }) }}"><span class="text-danger">Delete</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
{% endblock %}
