<footer class="text-center">
    {% include '::navigation.html.twig' %}
    <div class="social">
        <a href="http://www.flickr.com/people/75629240@N03/" target="_blank"><i class="social-flickr"></i></a>
        <a href="https://twitter.com/davidsbig_lens" target="_blank"><i class="social-twitter"></i></a>
    </div>

    <a href="#">Back to the top</a>
    &nbsp;&nbsp;|&nbsp;&nbsp;


    {% if app.user %}
        Signed in as {{ app.user.username }}
        &nbsp;&nbsp;|&nbsp;&nbsp;
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ url('dwi_portfolio_manage_galleries') }}" target="_blank">Admin Panel</a>
            &nbsp;&nbsp;|&nbsp;&nbsp;
        {% endif %}
        <a href="{{ url('dwi_security_account_logout') }}">Sign Out</a><br />
    {% else %}
        <a href="{{ url('dwi_security_account_login') }}">Sign In</a><br />
    {% endif %}

    <small>&copy; 2013-{{ "now"|date("Y") }} David Wright, all rights reserved</small>
</footer>
