{% extends '::base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="container">
        <!-- <div class="separator"></div> -->
        <div class="title">
            <h1>
                Portfolio<br />
                <small>Take a look at some of my recent work below.</small>
            </h1>
        </div>
        <div class="tags">
            <ul class="tags">
                <li class="active"><a href="#">All</a></li>
                <li><a href="#">Concerts</a></li>
                <li><a href="#">Landscapes</a></li>
                <li><a href="#">Portrait</a></li>
                <li><a href="#">Theatre</a></li>
            </ul>
        </div>
    </div>
    <div class="thumbs">
        <div class="container">
            <img src="http://placeholder.seydoggy.com/images/300-300?{{ random() }}" alt="" />
            <img src="http://placeholder.seydoggy.com/images/300-300?{{ random() }}" alt="" />
            <img src="http://placeholder.seydoggy.com/images/300-300?{{ random() }}" alt="" />
            <img src="http://placeholder.seydoggy.com/images/300-300?{{ random() }}" alt="" />
            <img src="http://placeholder.seydoggy.com/images/300-300?{{ random() }}" alt="" />
            <img src="http://placeholder.seydoggy.com/images/300-300?{{ random() }}" alt="" />
            <img src="http://placeholder.seydoggy.com/images/300-300?{{ random() }}" alt="" />
            <img src="http://placeholder.seydoggy.com/images/300-300?{{ random() }}" alt="" />
            <img src="http://placeholder.seydoggy.com/images/300-300?{{ random() }}" alt="" />
        </div>
    </div>
{% endblock %}