{% set gallery = model.getChild('gallery') %}

{% extends '::base.html.twig' %}

{% block title %}{# gallery.title #}{% endblock %}

{% block body %}
    <div class="canvas">
        <div class="jumbotron">
            {{ gallery.title }}<br />
            <small>{{ gallery.subtitle }}</small>
        </div>
    </div>

    {% include 'DWIPortfolioBundle:Portfolio/Admin/partials:gallery-controls.html.twig' with {
        'model': model.getChild('controls')
    } %}

    {% if gallery.images is not empty %}
        <div class="canvas gray-lighter">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    {% for image in gallery.images %}
                        <div class="swiper-slide">
                            <img src="{{ asset(image.webPath) }}" />
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    {% endif %}

    <div class="canvas">
        <div class="gallery">
            <div class="gallery-details">
                <dl>
                    <dt>Date</dt>
                    <dd>{{ gallery.date|date("M Y") }}</dd>
                    <dt>No. of Images</dt>
                    <dd>{{ gallery.images|length }}</dd>
                </dl>
            </div>
            <div class="gallery-desc gallery-type">
                {{ gallery.description|raw }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}

    <script type="text/javascript">

        $(document).ready(function(){
            var gallerySwiper = $('.swiper-container').swiper({
                mode:'horizontal',
                centeredSlides: true,
                slidesPerView: 'auto',
                pagination: '.swiper-pagination',
                paginationClickable: true
            });
        });

    </script>

{% endblock %}
