{% set gallery = model.gallery %}
{% set tags = model.gallery.tags %}

{% extends '::base.html.twig' %}

{% block title %}{{ gallery.title }}{% endblock %}

{% block body %}
    <div class="canvas">
        <div class="jumbotron">
            {{ gallery.title }}<br />
            <small>{{ gallery.subtitle }}</small>
            {# <section class="body">
                <a href="{{ url('dwi_portfolio_manage_gallery', { id: gallery.id }) }}" class="btn">Manage Gallery</a>
            </section> #}
        </div>
    </div>

    {# {% include 'DWIPortfolioBundle:Portfolio/Admin/partials:gallery-controls.html.twig' with {
        'model': model.controls
    } %} #}

    {% if gallery.images is not empty %}
        <div class="canvas gray-lighter">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    {% for image in gallery.images %}
                        <div class="swiper-slide">
                            {% if image.description %}
                                <div class="description">{{ image.description }}</div>
                            {% endif %}
                            <img src="{{ asset(image.webPath)|imagine_filter('gallery_image') }}" />
                        </div>
                    {% endfor %}
                </div>
                <div class="arrow-left"><i class="arrow"></i></div>
                <div class="arrow-right"><i class="arrow"></i></div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    {% endif %}

    <div class="canvas">
        <div class="gallery">
            <div class="gallery-details">
                <dl>
                    <dt>Date</dt>
                    <dd>{{ gallery.date|date("M Y") }}</dd>
                    <dt>No. of Images</dt>
                    <dd>{{ gallery.images|length }}</dd>
                    {% if tags is defined and tags is not empty %}
                        <dt>Tags</dt>
                        {% spaceless %}
                            <dd>
                                {% for tag in tags %}
                                    <a href="{{ url('dwi_portfolio_view_tag', { id: tag.id }) }}">
                                        {{ tag.name }}{% if not loop.last %}, {% endif %}
                                    </a>
                                {% endfor %}
                            </dd>
                        {% endspaceless %}
                    {% endif %}
                </dl>
            </div>
            <div class="gallery-desc gallery-type">
                {{ gallery.description|raw }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}

    <script type="text/javascript">

        $(window).load(function(){
            var gallerySwiper = $('.swiper-container').swiper({
                mode:'horizontal',
                centeredSlides: true,
                slidesPerView: 'auto',
                pagination: '.swiper-pagination',
                paginationClickable: true
            });
            $('.arrow-left').on('click', function(e){
                e.preventDefault();
                gallerySwiper.swipePrev();
            });
            $('.arrow-right').on('click', function(e){
                e.preventDefault();
                gallerySwiper.swipeNext();
            });
        });

    </script>

{% endblock %}
