{% extends '::base.html.twig' %}

{% block title %}{# gallery.title #}{% endblock %}

{% block body %}
    <div class="container">
        <div class="title">
            <h1>
                {{ gallery.title }}<br />
                <small>{{ gallery.subtitle }}</small>
            </h1>
        </div>
    </div>

    {% if gallery.images is defined %}
        <div class="container-images gallery-images">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    {% for image in gallery.images %}
                        <div class="swiper-slide">
                            <img src="{{ asset(image.webPath) }}" />
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    {% endif %}

    <div class="container clearfix">
        <div class="gallery-details">
            <dl>
                <dt>Date</dt>
                <dd>{{ gallery.date|date("M Y") }}</dd>
                <dt>No. of Images</dt>
                <dd>{{ gallery.images|length }}</dd>
            </dl>
        </div>
        <div class="gallery-desc">
            {{ gallery.description|raw }}
        </div>
    </div>

{% endblock %}

{% block javascript %}

    <script type="text/javascript">

        $(document).ready(function(){
            var gallerySwiper = $('.swiper-container').swiper({
                mode:'horizontal',
                centeredSlides: true,
                slidesPerView: 'auto',
                pagination: '.swiper-pagination',
                paginationClickable: true
            });
        });

    </script>

{% endblock %}