{% set pagination = model.pagination %}
{% set portfolio = model.portfolio %}
{% set tags = model.tags %}

{% extends '::base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}
    <div class="canvas">
        <div class="jumbotron">
            Portfolio<br />
            {% if model.tag is defined %}
                <small>My galleries tagged with '{{ model.tag.name }}'</small>
            {% else %}
                <small>Take a look at some of my recent work below</small>
            {% endif %}

            {% include 'DWIPortfolioBundle:Portfolio/partials:portfolio-tags.html.twig' with {
                'tag': (model.tag is defined) ? model.tag : false,
                'tags': model.tags
            } %}
        </div>
    </div>

    <div class="canvas gray-lighter">
        <div class="thumbs">
            {% if portfolio.galleries is defined %}
                {% for gallery in portfolio.galleries %}
                    <div class="thumb {{ not gallery.isActive ? 'inactive' }}" title="{{ gallery.title }}">
                        <div class="thumb-overlay">
                            <a class="cover" href="{{ url('dwi_portfolio_gallery', {'id': gallery.id}) }}"></a>
                        </div>

                        {% if gallery.coverImagePath %}
                            <img src="{{ asset(gallery.coverImagePath)|imagine_filter('gallery_thumb') }}" alt="" />
                        {% else %}
                            <img src="http://placehold.it/300x300" alt="" />
                        {% endif %}

                        <div class="info">
                            <span class="title">{{ gallery.title }}</span><br />
                            <span class="subtitle text-muted">{{ gallery.subtitle }}</span>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="text-center" style="margin-bottom: 20px;">There are no galleries here!</div>
            {% endif %}
        </div>
        {% if pagination.pages > 1 %}
            <ul class="pagination">
                {% if pagination.page != 1 %}
                    <li>
                        <a class="btn btn-white" href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({ page: 1 })) }}">First</a>
                    </li>
                    <li>
                        <a class="btn btn-white" href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({ page: pagination.page - 1 })) }}">Prev</a>
                    </li>
                {% endif %}

                {% for i in pagination.start..pagination.end %}
                    <li><a class="btn {{ i == pagination.page ? 'btn-danger' : 'btn-white' }}" href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({ page: i })) }}">{{ i }}</a></li>
                {% endfor %}

                {% if pagination.page != pagination.pages %}
                    <li><a class="btn btn-white" href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({ page: pagination.page + 1 })) }}">Next</a></li>
                    <li><a class="btn btn-white" href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({ page: pagination.pages })) }}">Last</a></li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
{% endblock %}
